{% load static %}
<style>
    .hello-msg {
        color: white;
        margin-right: 10px;
    }
    .navbar-custom {
        background-color: #181c37;
    }
    .navbar-custom .nav-link {
        color: white !important;
    }
    .navbar-custom .dropdown-menu {
        background-color: #282c50;
    }
    .navbar-custom .dropdown-item {
        color: white;
    }
    .navbar-custom .dropdown-item:hover {
        background-color: #3c3f66;
    }
    .navbar-nav .nav-item {
        margin-right: 15px;
    }
    .btn-secondary {
        background-color: #181c37;
        border-color: #181c37;
        color: white;
        font-weight: 500;
        position: relative;
    }
    .btn-secondary:hover, .btn-secondary:focus {
        background-color: #282c50;
        border-color: #282c50;
    }
    .btn-secondary::after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 2px solid white;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    .btn-secondary:hover::after, .btn-secondary:focus::after {
        opacity: 1;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <img src="{% static 'images/logo7.svg' %}" width="200px" class="mr-3">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Consultas</a>
            </li>
            <li class="nav-item">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Médicos
                    </button>
                    <div class="dropdown-menu">
                        {% for medico in medicos %}
                            <a class="dropdown-item" href="{% url 'medicos' pk_test=medico.id %}">{{ medico.nome }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="btn-group dropright">
                    <a class="nav-link" href="{% url 'processar_input' %}">Gerar Relatório</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
